full_db.sql
/node_modules
/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log
docker/db
docker-compose.yml
.DS_Store
package-lock.json
prepros-6.config
*.log
www/wp-config.php
www/wp-content/advanced-cache.php
www/wp-content/backup-db/
www/wp-content/backups/
www/wp-content/blogs.dir/
www/wp-content/cache/
www/wp-content/upgrade/
www/wp-content/uploads/
www/wp-content/uploads/
www/wp-content/mu-plugins/
www/wp-content/wp-cache-config.php
www/wp-content/plugins/hello.php
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
.env
deploy_2_lestrotest.sh
node_modules
