// start video modal
//- .modal.popup.is-media.js__video-popup
//- 	.modal__layer.js__close-popup
//- 	button.close-button.js__close-popup
//- 	.modal__container
//- 		.modal__media-wr.fw.js__media-wr
// end video modal