extends ./layout/layout.pug

block vars


block title
	title Retim main
	meta(name="description" content="Retim main page")

block content

	main.main
		h1 Lorem ipsum dolor
		p(data-aos="fade-down" data-aos-delay="0" data-aos-duration="550")
		p lal
		img(src="./img/leaf.png" alt="lal")

		+svg('facebook')
		+svg('instagram')
		+svg('youtube')