.box{
	&__wrapper{
		margin: -10px;
		flex-wrap: wrap;
		align-items: stretch;
		@include r(999){
			margin: -5px;
		}
	}
	&__block{
		padding: 10px;
		width: 100%;
		@include r(999){
			padding: 5px;
		}
	}
	&__wrap{
		padding-bottom: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
}