@include font-face('Montserrat-Thin', '../fonts/');
@include font-face('Montserrat-Light', '../fonts/');
@include font-face('Montserrat-Regular', '../fonts/');
@include font-face('Montserrat-Medium', '../fonts/');
@include font-face('Montserrat-SemiBold', '../fonts/');


@mixin mt{
	font-family: 'Montserrat-Thin', sans-serif;
}

@mixin ml{
	font-family: 'Montserrat-Light', sans-serif;
}

@mixin mr{
	font-family: 'Montserrat-Regular', sans-serif;
}

@mixin mm{
	font-family: 'Montserrat-Medium', sans-serif;
}

@mixin msb{
	font-family: 'Montserrat-SemiBold', sans-serif;
}

@mixin ob{
	font-family: 'Open Sans', sans-serif;
}

html{
	font-size: 18px;
}

h1,h2,h3,h4,h5,h6,p, button,a,span,li{
	line-height: 1.2;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
	color: #1a2731;
	@include r(767){
		color: $black;
	}
}

button, p, a, li{
	font-size: 16px;
	@include mr;
}
	

h1,h2,h3,h4,h5,h6{
	@include mm;
}

picture,
img{
	max-width: 100%;
	height: auto;
	display: block;
}

img{
	.lazy{
		background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
		&.loaded{
			background-image: none;
		}
	}
}

