//- Master layout

doctype html
html(lang='ru')
	head

		//- Meta
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')

		//- SEO

		//- Basic Seo
		block basicSeo
			meta(name='description' content='Index page')
			meta(name='keywords', content='index, page')
			meta(name='author' content='')

		//- Twitter
		meta(property='twitter:image:src' content='images/jpg')
		meta(property='twitter:domain' content='300')
		meta(property='twitter:title' content="Tila")
		meta(property='twitter:site' content= "")
		meta(property='twitter:description' content="")

		//- Facebook
		meta(property='og:image' content='images/jpg')
		meta(property="og:type" content="website")
		meta(property='og:image:width' content='300')
		meta(property='og:image:height' content='300')
		meta(property='og:title' content="white")
		meta(property='og:url' content= "")
		meta(property='og:description' content="")

		//- Favicons
		link(rel='apple-touch-icon', sizes='180x180', href='../images/favicons/apple-touch-icon.png')
		link(rel='shortcut icon', type='image/png', sizes='32x32', href='./images/favicons/favicon-32x32.png')
		link(rel='shortcut icon', type='image/png', sizes='16x16', href='./images/favicons/favicon-16x16.png')
		link(rel='shortcut icon', href='./images/favicons/favicon.ico')

		//- Preload fonts
		//- link(type='font/woff', href=require('source/assets/fonts/Quicksand-Bold.woff'), rel='preload', as='font', crossorigin)
		//- link(type='font/woff', href=require('source/assets/fonts/Quicksand-Medium.woff'), rel='preload', as='font', crossorigin)
		//- link(type='font/woff', href=require('source/assets/fonts/Quicksand-Regular.woff'), rel='preload', as='font', crossorigin)
		//- link(type='font/woff', href=require('source/assets/fonts/Quicksand-Light.woff'), rel='preload', as='font', crossorigin)

		//- Title
		block title
			title Your project!

	body

		.wrapper

			//- header
			header.header

			//- main content
			main.main

				//- block content
				block content

		//- Footer
		include ../components/footer.pug

		//- block scripts
		block scripts
