@import "variables"
@import "typography"
@import "helpers"


.container
  max-width: 1170px
  width: 100%
  position: relative
  margin: 0 auto
  padding: 0 15px
  +r(999)
    padding: 0 25px
  +r(767)
    padding: 0 16px

*
  margin: 0
  padding: 0
  box-sizing: border-box
  line-height: 1


button, a
  outline: none


a
  text-decoration: none
  color: inherit
  background-color: transparent
  -webkit-text-decoration-skip: objects

b,
strong
  font-weight: bold

ul,ol
  list-style: none


.body-overflow
  overflow: hidden

.fw
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  align-items: flex-start

