<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>your web</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="img/jpg">
    <meta property="og:image:type" content="img/jpg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <link rel="shoutcut icon" type="img/ico" href="img/favicon32.ico" sizes="32x32">
    <link rel="icon" type="img/ico" href="img/favicon16.ico" sizes="16x12">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    
	<section class="map-wr">
        <h2>Мережа АЗК БРСМ-Нафта</h2>

        <div id="map-searcher" class="map-form__wrapper">
            <div class="map-form__container">
                <form @submit.prevent="filterPins" class="map-form__this fw js-map__form">
                    <div class="map-form__col js-map__from  map-form__col--65" :class="{'map-form__col--32': routesFromTo}">
                        <label for="" class="inputs map-form__inputs">
                            <input @click="initSelectorFrom" type="text" :placeholder="regionHint" v-model="region_filter" data-text="Регион отправления" data-back="Регион" class="map-form__input map-form__input--region js-google__from">
                        </label>
                    </div>
                    <div class="map-form__col js-map__to  map-form__col--65" v-show="routesFromTo" :class="{'map-form__col--32': routesFromTo}">
                        <label for="" class="inputs  map-form__inputs">
                            <input @click="initSelectorTo" type="text" v-model="region_end" placeholder="Виберіть пункт прибуття" class="map-form__input map-form__input--region js-google__to">
                        </label>
                    </div>
                    <div class="map-form__col map-form__col--selector js-map__drop map-form__col--15" @click="filterOpened = !filterOpened">
                        <div class="inputs map-form__inputs">
                            <div class="map-form__select">
                                <div for="" class="inputs map-form__inputs map-form__inputs--select" :class="{'map-form__inputs--active': filterOpened}">
                                    <p>Параметри</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="map-form__col map-form__col--10">
                        <button @click.prevent="createRoute" class="map-form__search  map-form__inputs js-map__form1">
                            <img src="<?= get_template_directory_uri() ?>/images/search.svg" class="svg"  alt="search">
                        </button>
                    </div>
                    <div class="map-form__col map-form__col--10">
                        <div @click="routesEnable" class="map-form__details js-map__details">
                            <img src="<?= get_template_directory_uri() ?>/images/d.svg" class="map-form__details--desct " alt="details">
                            <img src="<?= get_template_directory_uri() ?>/images/d2.svg" class="map-form__details--mob " alt="details">
                        </div>
                        <div @click="routesDisable" class="map-form__details map-form__details--close js-details__close1" :class="{'map-form__details--display': routesFromTo}">
                            <div class="map-form__close map-form__close--center"></div>
                        </div>
                    </div>

                    <div class="map-form__col map-form__dropdown fw" :class="{'map-form__dropdown--show': filterOpened}">
                    <!--    <div class="map-form__close map-form__close--dropdown js-select__close">
                            
                        </div> -->
                        <div class="map-form__block fw">
                            <p class="map-form__block-descr">Види пального:</p>

                            <label v-for="(fuel, index) in fuelTypes" :for="fuel.name" :key=index class="map-form__block-checkbox inputs">
                                <input v-model="selected_fuel" :id="fuel.name" :value="fuel.id" type="checkbox">
                                <p>
                                    {{fuel.name}}
                                </p>
                            </label>
    
                        </div>
                        <div class="map-form__block fw">
                            <p class="map-form__block-descr">Сервіс:</p>

                            <label v-for="(service, index) in services" :for="service.name" :key=index class="map-form__block-checkbox map-form__block-checkbox--full inputs">
                                <input v-model="selected_service" :id="service.name" :value="service.id"  type="checkbox">
                                <p>
                                    {{service.name}}
                                </p>
                            </label>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="map">
            <div id="map"></div>
        </div>
	</section>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJzKZjPJCzXMrH9yzVVffDgaI7oJf_Gqw&libraries=places"
	 ></script>
	<script src="scripts/app.js" defer></script>
  </body>
</html>