{
  "env": {
		"es2021": true,
    "browser": true,
    "node": true
	},
  "extends": [
		"eslint:recommended"
	],
  "rules": {
		"no-new": 0,
		"no-unused-vars": 1,
    "max-len": "off",
    "no-shadow": "off",
    "space-before-function-paren": 0,
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "linebreak-style": "off",
    "quotes": [
      2,
      "single"
    ],
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}
