extends ./layouts/master.pug

block title
	title My Page - Home

block content

	//- Desktop page
	section.page.home__page
		.container
			h1.page__title # Index page
			p Thank you for your supporting :)

			img(src="./images/favicons/favicon-16x16.png", alt="")