/* Example usage
  @include media(phone, tablet) {
    ...styles
  }
*/

$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1280px;

$screen-type: (
  phone: (
    to: $tablet - 1,
  ),
  phone-min: (
    from:$tablet,
  ),
  tablet: (
    from:$tablet,
    to: $desktop - 1,
  ),
  tablet-min: (
    from: $desktop,
  ),
  desktop: (
    from: $desktop,
  ),
  desktop-xl: (
    from: $desktop-xl,
  ),
);

@mixin media($keys...) {
  @each $key in $keys {
    @if map-get(map-get($screen-type, $key), 'from') and map-get(map-get($screen-type, $key), 'to') {
      @media screen and (min-width: map-get(map-get($screen-type, $key), 'from')) and (max-width: map-get(map-get($screen-type, $key), 'to')) {
        @content
      }
    } @else if map-get(map-get($screen-type, $key), 'from') {
      @media screen and (min-width: map-get(map-get($screen-type, $key), 'from')) {
        @content
      }
    } @else if map-get(map-get($screen-type, $key), 'to') {
      @media screen and (max-width: map-get(map-get($screen-type, $key), 'to')) {
        @content
      }
    } @else {
      @content
    }
  }
}

@mixin r($screen) {
	@media all and (max-width: $screen+'px') {
		@content;
	}
}
  