$swarty: polygon(24.08% 44.55%, 24.35% 45.5%, 26.42% 44.09% ),
polygon(24.61% 46.45%, 25.28% 47.09%, 26.71% 44.88% ),
polygon(24.08% 43.65%, 24.08% 44.55%, 26.42% 44.09% ),
polygon(26.57% 44.48%, 26.42% 44.09%, 24.35% 45.5% 26.71% 44.88% ),
polygon(24.35% 45.5%, 24.61% 46.45%, 26.71% 44.88% ),
polygon(26.42% 43.65%, 26.42% 43.21%, 24.08% 43.65% 26.42% 44.09% ),
polygon(25.56% 39.95%, 24.82% 41.35%, 27.06% 42.03% ),
polygon(24.08% 42.76%, 24.08% 43.65%, 26.42% 43.21% ),
polygon(27.58% 41.7%, 28.1% 41.37%, 25.56% 39.95% 27.06% 42.03% ),
polygon(24.82% 41.35%, 24.08% 42.76%, 26.42% 43.21% ),
polygon(26.83% 39.18%, 25.56% 39.95%, 28.1% 41.37% ),
polygon(26.74% 42.62%, 27.06% 42.03%, 24.82% 41.35% 26.42% 43.21% ),
polygon(30.08% 46.92%, 28.26% 48.99%, 30.95% 48.54% ),
polygon(27.14% 45.19%, 26.71% 44.88%, 25.28% 47.09% 27.56% 45.5% ),
polygon(28.87% 49.81%, 29.48% 50.62%, 30.95% 48.54% ),
polygon(28.82% 46.21%, 28.26% 48.99%, 30.08% 46.92% ),
polygon(29.48% 50.62%, 31.82% 50.17%, 30.95% 48.54% ),
polygon(28.26% 48.99%, 28.87% 49.81%, 30.95% 48.54% ),
polygon(25.94% 47.72%, 27.1% 48.36%, 27.56% 45.5% ),
polygon(25.28% 47.09%, 25.94% 47.72%, 27.56% 45.5% ),
polygon(27.56% 45.5%, 27.1% 48.36%, 28.82% 46.21% ),
polygon(27.1% 48.36%, 28.26% 48.99%, 28.82% 46.21% ),
polygon(27.9% 56.44%, 29.14% 55.66%, 27.9% 53.48% ),
polygon(28.4% 53.15%, 27.9% 53.48%, 29.14% 55.66% 28.89% 52.81% ),
polygon(25.04% 52.43%, 24.62% 52.6%, 24.42% 53.15% 24.22% 53.69% 25.46% 52.25% ),
polygon(26.22% 55.64%, 27.9% 56.44%, 27.9% 53.48% ),
polygon(30.38% 54.88%, 31.1% 53.5%, 28.89% 52.81% ),
polygon(29.14% 55.66%, 30.38% 54.88%, 28.89% 52.81% ),
polygon(29.19% 52.24%, 28.89% 52.81%, 31.1% 53.5% 29.48% 51.66% ),
polygon(24.22% 53.69%, 24.38% 54.27%, 24.54% 54.84% 25.46% 52.25% ),
polygon(26.68% 52.87%, 26.22% 55.64%, 27.9% 53.48% ),
polygon(28.1% 38.41%, 26.83% 39.18%, 28.1% 41.37% ),
polygon(24.54% 54.84%, 26.22% 55.64%, 26.68% 52.87% ),
polygon(25.46% 52.25%, 24.54% 54.84%, 26.68% 52.87% ),
polygon(29.48% 51.14%, 29.48% 51.66%, 31.82% 50.17% 29.48% 50.62% ),
polygon(30.3% 42.41%, 31.24% 39.85%, 29.2% 41.89% ),
polygon(31.24% 39.85%, 29.67% 39.13%, 29.2% 41.89% ),
polygon(31.12% 42.07%, 31.24% 39.85%, 30.3% 42.41% ),
polygon(29.67% 39.13%, 28.1% 38.41%, 28.1% 41.37% ),
polygon(31.1% 53.5%, 31.82% 52.12%, 29.48% 51.66% ),
polygon(29.2% 41.89%, 29.67% 39.13%, 28.1% 41.37% ),
polygon(31.53% 40.67%, 31.54% 40.37%, 31.39% 40.11% 31.24% 39.85% 31.52% 40.97% ),
polygon(31.82% 52.12%, 31.82% 51.15%, 31.82% 50.17% 29.48% 51.66% ),
polygon(30.55% 42.43%, 30.79% 42.44%, 30.96% 42.25% 31.12% 42.07% 30.3% 42.41% ),
polygon(31.32% 41.52%, 31.52% 40.97%, 31.24% 39.85% 31.12% 42.07% ),
polygon(40.65% 55.5%, 40.98% 55.85%, 41.3% 56.2% 41.62% 51.26% ),
polygon(42.42% 56.2%, 42.74% 55.82%, 43.05% 55.44% 41.62% 51.26% ),
polygon(41.3% 56.2%, 41.86% 56.2%, 42.42% 56.2% 41.62% 51.26% ),
polygon(39.7% 43.47%, 39.35% 43.05%, 38.82% 47.13% 40.05% 43.88% ),
polygon(40.05% 43.88%, 38.82% 47.13%, 40.83% 47.57% ),
polygon(39.73% 51.32%, 40.65% 55.5%, 41.62% 51.26% ),
polygon(38.82% 47.13%, 39.73% 51.32%, 40.83% 47.57% ),
polygon(42.5% 43.5%, 44.67% 43.71%, 44.2% 42.87% ),
polygon(43.05% 55.44%, 43.86% 49.58%, 41.62% 51.26% ),
polygon(43.65% 42.87%, 43.1% 42.87%, 42.8% 43.19% 42.5% 43.5% 44.2% 42.87% ),
polygon(44.6% 43.12%, 44.4% 42.99%, 44.2% 42.87% 44.67% 43.71% 44.64% 43.42% ),
polygon(42.06% 47.38%, 44.67% 43.71%, 42.5% 43.5% ),
polygon(41.62% 51.26%, 43.86% 49.58%, 42.06% 47.38% ),
polygon(43.86% 49.58%, 44.67% 43.71%, 42.06% 47.38% ),
polygon(40.83% 47.57%, 39.73% 51.32%, 41.62% 51.26% ),
polygon(33.14% 43.77%, 33.95% 49.61%, 35.2% 43.65% ),
polygon(35.2% 43.65%, 33.95% 49.61%, 35.64% 47.45% ),
polygon(33.95% 49.61%, 34.76% 55.45%, 36.09% 51.26% ),
polygon(34.9% 43.26%, 34.6% 42.87%, 33.14% 43.77% 35.2% 43.65% ),
polygon(35.64% 47.45%, 33.95% 49.61%, 36.09% 51.26% ),
polygon(38.85% 43.05%, 38.36% 43.05%, 38.82% 47.13% 39.35% 43.05% ),
polygon(33.42% 43.01%, 33.22% 43.15%, 33.18% 43.46% 33.14% 43.77% 33.62% 42.87% ),
polygon(34.11% 42.87%, 33.62% 42.87%, 33.14% 43.77% 34.6% 42.87% ),
polygon(35.36% 56.2%, 35.87% 56.2%, 36.39% 56.2% 36.09% 51.26% ),
polygon(36.87% 47.51%, 38.82% 47.13%, 37.66% 43.77% ),
polygon(34.76% 55.45%, 35.06% 55.83%, 35.36% 56.2% 36.09% 51.26% ),
polygon(38.01% 43.41%, 37.66% 43.77%, 38.82% 47.13% 38.36% 43.05% ),
polygon(36.09% 51.26%, 37.92% 51.26%, 36.87% 47.51% ),
polygon(37.92% 51.26%, 38.82% 47.13%, 36.87% 47.51% ),
polygon(37.02% 55.39%, 37.92% 51.26%, 36.09% 51.26% ),
polygon(36.39% 56.2%, 36.7% 55.8%, 37.02% 55.39% 36.09% 51.26% ),
polygon(50.76% 52.61%, 50.52% 53.09%, 52.66% 53.85% 51% 52.12% ),
polygon(52.66% 53.85%, 53.32% 52.57%, 51% 52.12% ),
polygon(53.32% 52.57%, 53.32% 49.53%, 51% 52.12% ),
polygon(50.84% 55.78%, 51.99% 55.12%, 50.52% 53.09% ),
polygon(50.1% 53.35%, 49.68% 53.61%, 50.84% 55.78% 50.52% 53.09% ),
polygon(51% 51.19%, 51% 52.12%, 53.32% 49.53% 51% 50.25% ),
polygon(51.99% 55.12%, 52.66% 53.85%, 50.52% 53.09% ),
polygon(47.82% 46.31%, 48.75% 45.89%, 47.02% 43.8% ),
polygon(47% 45.91%, 47.41% 46.11%, 47.82% 46.31% 47.02% 43.8% ),
polygon(51% 50.25%, 53.32% 49.53%, 51% 48.01% ),
polygon(47.02% 43.8%, 48.75% 45.89%, 48.35% 43.21% ),
polygon(49.68% 56.44%, 50.84% 55.78%, 49.68% 53.61% ),
polygon(46.86% 44.03%, 46.69% 44.27%, 46.69% 44.58% 46.68% 44.89% 47.02% 43.8% ),
polygon(51% 47.48%, 51% 48.01%, 53.32% 49.53% 51% 46.95% ),
polygon(53.32% 49.53%, 53.32% 46.49%, 51% 46.95% ),
polygon(46.68% 44.89%, 46.84% 45.4%, 47% 45.91% 47.02% 43.8% ),
polygon(46.6% 50.03%, 46.1% 51.03%, 48.36% 51.51% ),
polygon(46.1% 51.03%, 46.1% 51.8%, 48.36% 51.51% ),
polygon(48.54% 51.09%, 48.71% 50.67%, 46.6% 50.03% 48.36% 51.51% ),
polygon(48.01% 48.52%, 47.1% 49.03%, 48.71% 50.67% ),
polygon(48.55% 55.78%, 49.68% 56.44%, 49.68% 53.61% ),
polygon(47.1% 49.03%, 46.6% 50.03%, 48.71% 50.67% ),
polygon(48.36% 51.81%, 48.36% 51.51%, 46.1% 51.8% 48.36% 52.12% ),
polygon(49.06% 50.46%, 49.4% 50.25%, 48.01% 48.52% 48.71% 50.67% ),
polygon(47.41% 55.12%, 48.55% 55.78%, 48.85% 53.09% ),
polygon(49.27% 53.35%, 48.85% 53.09%, 48.55% 55.78% 49.68% 53.61% ),
polygon(46.76% 53.85%, 47.41% 55.12%, 48.85% 53.09% ),
polygon(46.1% 51.8%, 46.1% 52.57%, 48.36% 52.12% ),
polygon(48.61% 52.61%, 48.36% 52.12%, 46.76% 53.85% 48.85% 53.09% ),
polygon(46.1% 52.57%, 46.76% 53.85%, 48.36% 52.12% ),
polygon(51% 46.95%, 53.32% 46.49%, 52.66% 45.21% ),
polygon(50.52% 45.99%, 50.76% 46.47%, 51% 46.95% 52.66% 45.21% ),
polygon(51% 50.25%, 51% 48.01%, 50.2% 50.25% ),
polygon(48.92% 48.01%, 48.01% 48.52%, 49.4% 50.25% ),
polygon(51% 48.01%, 49.96% 48.01%, 50.2% 50.25% ),
polygon(48.35% 43.21%, 48.75% 45.89%, 49.68% 42.63% ),
polygon(50.2% 50.25%, 49.96% 48.01%, 49.4% 50.25% ),
polygon(49.96% 48.01%, 48.92% 48.01%, 49.4% 50.25% ),
polygon(48.75% 45.89%, 49.68% 45.48%, 49.68% 42.63% ),
polygon(49.68% 42.63%, 49.68% 45.48%, 50.84% 43.28% ),
polygon(51.99% 43.93%, 50.52% 45.99%, 52.66% 45.21% ),
polygon(49.68% 45.48%, 50.1% 45.73%, 50.52% 45.99% 50.84% 43.28% ),
polygon(50.84% 43.28%, 50.52% 45.99%, 51.99% 43.93% ),
polygon(57.85% 43.31%, 59.12% 45.45%, 58.98% 42.65% ),
polygon(58.28% 46.03%, 58.7% 45.74%, 59.12% 45.45% 57.85% 43.31% ),
polygon(59.12% 45.45%, 59.4% 45.49%, 59.68% 45.53% 58.98% 42.65% ),
polygon(59.68% 45.53%, 60.01% 45.25%, 60.34% 44.97% 60.08% 42.87% ),
polygon(60.08% 42.87%, 60.34% 44.97%, 60.41% 44.36% 60.48% 43.75% 60.28% 43.31% ),
polygon(59.53% 42.76%, 58.98% 42.65%, 59.68% 45.53% 60.08% 42.87% ),
polygon(56.73% 43.97%, 58.28% 46.03%, 57.85% 43.31% ),
polygon(57.8% 55.51%, 57.8% 51.29%, 55.48% 51.05% ),
polygon(56% 56.2%, 57.8% 55.51%, 55.48% 55.51% ),
polygon(55.55% 55.75%, 55.63% 56%, 55.81% 56.1% 56% 56.2% 55.48% 55.51% ),
polygon(56.64% 56.2%, 57.28% 56.2%, 57.8% 55.51% 56% 56.2% ),
polygon(57.46% 56.1%, 57.65% 56%, 57.72% 55.75% 57.8% 55.51% 57.28% 56.2% ),
polygon(56.1% 45.29%, 58.28% 46.03%, 56.73% 43.97% ),
polygon(55.48% 55.51%, 57.8% 55.51%, 55.48% 51.05% ),
polygon(55.48% 46.6%, 57.8% 47.08%, 56.1% 45.29% ),
polygon(57.8% 47.08%, 58.04% 46.55%, 58.28% 46.03% 56.1% 45.29% ),
polygon(55.48% 51.05%, 57.8% 47.08%, 55.48% 46.6% ),
polygon(57.8% 51.29%, 57.8% 47.08%, 55.48% 51.05% ),
polygon(67.02% 44.84%, 66.87% 43.07%, 66.5% 45.53% ),
polygon(62.46% 53.13%, 62.95% 54.25%, 64.78% 52.65% ),
polygon(62.46% 49.33%, 62.46% 53.13%, 64.78% 52.65% ),
polygon(62.95% 54.25%, 63.44% 55.37%, 65.09% 53.28% ),
polygon(64.78% 49.09%, 62.46% 49.33%, 64.78% 52.65% ),
polygon(64.93% 52.97%, 64.78% 52.65%, 62.95% 54.25% 65.09% 53.28% ),
polygon(62.46% 42.87%, 62.46% 45.53%, 64.78% 45.53% ),
polygon(64.78% 42.87%, 62.46% 42.87%, 64.78% 45.53% ),
polygon(62.46% 45.53%, 62.46% 49.33%, 64.78% 49.09% ),
polygon(64.78% 45.53%, 62.46% 45.53%, 64.78% 49.09% ),
polygon(63.44% 55.37%, 64.39% 55.91%, 65.09% 53.28% ),
polygon(66.57% 53.53%, 66.36% 53.48%, 66.64% 56.09% 66.79% 53.57% ),
polygon(66.64% 56.09%, 66.87% 55.68%, 67.1% 55.27% 66.79% 53.57% ),
polygon(67% 54.04%, 66.89% 53.81%, 66.79% 53.57% 67.1% 55.27% 67.05% 54.65% ),
polygon(65.99% 56.27%, 66.64% 56.09%, 66.36% 53.48% ),
polygon(65.34% 53.45%, 65.09% 53.28%, 64.39% 55.91% 65.6% 53.61% ),
polygon(64.39% 55.91%, 65.34% 56.44%, 65.6% 53.61% ),
polygon(65.64% 45.53%, 64.78% 42.87%, 64.78% 45.53% ),
polygon(65.98% 53.55%, 65.6% 53.61%, 65.99% 56.27% 66.36% 53.48% ),
polygon(61.25% 42.97%, 61.07% 43.07%, 60.99% 43.31% 60.92% 43.56% 61.44% 42.87% ),
polygon(65.34% 56.44%, 65.99% 56.27%, 65.6% 53.61% ),
polygon(63.62% 39.56%, 62.98% 39.56%, 62.46% 40.25% 64.26% 39.56% ),
polygon(61.95% 42.87%, 61.44% 42.87%, 62.46% 45.53% 62.46% 42.87% ),
polygon(62.79% 39.65%, 62.61% 39.75%, 62.53% 40% 62.46% 40.25% 62.98% 39.56% ),
polygon(64.44% 39.66%, 64.26% 39.56%, 62.46% 40.25% 64.63% 39.76% ),
polygon(65.64% 42.87%, 64.78% 42.87%, 65.64% 45.53% ),
polygon(64.7% 40.01%, 64.63% 39.76%, 62.46% 40.25% 64.78% 40.25% ),
polygon(61.44% 45.53%, 61.95% 45.53%, 62.46% 45.53% 61.44% 42.87% ),
polygon(60.92% 43.56%, 60.92% 44.2%, 60.92% 44.84% 60.99% 45.09% 61.07% 45.33% 61.44% 42.87% ),
polygon(61.07% 45.33%, 61.25% 45.43%, 61.44% 45.53% 61.44% 42.87% ),
polygon(66.87% 43.07%, 66.68% 42.97%, 66.5% 42.87% 66.5% 45.53% ),
polygon(66.5% 45.53%, 65.64% 42.87%, 65.64% 45.53% ),
polygon(66.5% 42.87%, 65.64% 42.87%, 66.5% 45.53% ),
polygon(62.46% 40.25%, 62.46% 41.56%, 64.78% 40.25% ),
polygon(66.68% 45.43%, 66.86% 45.32%, 66.94% 45.08% 67.02% 44.84% 66.5% 45.53% ),
polygon(64.78% 40.25%, 62.46% 41.56%, 64.78% 41.56% ),
polygon(62.46% 41.56%, 62.46% 42.87%, 64.78% 41.56% ),
polygon(67.02% 44.2%, 67.02% 43.56%, 66.94% 43.31% 66.87% 43.07% 67.02% 44.84% ),
polygon(64.78% 41.56%, 62.46% 42.87%, 64.78% 42.87% ),
polygon(71.06% 55.79%, 72.16% 56.44%, 72.32% 53.61% ),
polygon(71.91% 53.35%, 71.5% 53.08%, 71.06% 55.79% 72.32% 53.61% ),
polygon(69.97% 55.13%, 71.06% 55.79%, 71.5% 53.08% ),
polygon(72.16% 56.44%, 72.88% 55.96%, 72.32% 53.61% ),
polygon(68.7% 48.03%, 68.7% 52.49%, 71.02% 52.09% ),
polygon(71.02% 52.09%, 68.7% 52.49%, 71.26% 52.59% ),
polygon(72.88% 55.96%, 73.6% 55.48%, 73.13% 53.08% ),
polygon(68.7% 52.49%, 69.33% 53.81%, 71.26% 52.59% ),
polygon(71.02% 47.83%, 68.7% 48.03%, 71.02% 52.09% ),
polygon(69.33% 53.81%, 69.97% 55.13%, 71.5% 53.08% ),
polygon(71.26% 52.59%, 69.33% 53.81%, 71.5% 53.08% ),
polygon(73.75% 43.05%, 73.67% 43.31%, 73.6% 43.56% 75.77% 43.05% ),
polygon(74.12% 42.87%, 73.93% 42.96%, 73.75% 43.05% 75.77% 43.05% ),
polygon(75.84% 43.31%, 75.77% 43.05%, 73.6% 43.56% 75.92% 43.56% ),
polygon(73.6% 47.83%, 75.92% 50.52%, 75.92% 43.56% ),
polygon(73.36% 52.59%, 73.13% 53.08%, 73.6% 55.48% 73.6% 52.09% ),
polygon(73.6% 43.56%, 73.6% 47.83%, 75.92% 43.56% ),
polygon(75.58% 42.96%, 75.4% 42.87%, 74.76% 42.87% 74.12% 42.87% 75.77% 43.05% ),
polygon(75.92% 57.48%, 75.92% 50.52%, 73.6% 52.09% ),
polygon(73.6% 55.48%, 75.92% 57.48%, 73.6% 52.09% ),
polygon(73.6% 52.09%, 75.92% 50.52%, 73.6% 47.83% ),
polygon(72.72% 53.35%, 72.32% 53.61%, 72.88% 55.96% 73.13% 53.08% ),
polygon(71.33% 58.27%, 70.87% 60.92%, 72.24% 58.73% ),
polygon(70.87% 60.92%, 72.26% 61.59%, 72.24% 58.73% ),
polygon(72.26% 61.59%, 73.45% 60.93%, 72.24% 58.73% ),
polygon(73.45% 60.93%, 74.64% 60.27%, 73.1% 58.2% ),
polygon(73.1% 58.2%, 74.64% 60.27%, 73.35% 57.69% ),
polygon(72.67% 58.47%, 72.24% 58.73%, 73.45% 60.93% 73.1% 58.2% ),
polygon(68.7% 43.56%, 68.7% 48.03%, 71.02% 47.83% ),
polygon(69.24% 59.24%, 69.36% 59.75%, 69.48% 60.25% 70.42% 57.8% ),
polygon(70.42% 57.8%, 69.48% 60.25%, 71.33% 58.27% ),
polygon(69.48% 60.25%, 70.87% 60.92%, 71.33% 58.27% ),
polygon(70.01% 57.96%, 69.6% 58.12%, 69.42% 58.68% 69.24% 59.24% 70.42% 57.8% ),
polygon(70.94% 43.31%, 70.87% 43.05%, 70.68% 42.96% 70.5% 42.87% 71.02% 43.56% ),
polygon(70.5% 42.87%, 69.86% 42.87%, 69.22% 42.87% 71.02% 43.56% ),
polygon(69.22% 42.87%, 69.03% 42.96%, 68.85% 43.05% 71.02% 43.56% ),
polygon(71.02% 43.56%, 68.7% 43.56%, 71.02% 47.83% ),
polygon(68.85% 43.05%, 68.77% 43.31%, 68.7% 43.56% 71.02% 43.56% ),
polygon(73.6% 57.19%, 75.92% 57.48%, 73.6% 56.33% ),
polygon(75.28% 58.87%, 75.92% 57.48%, 73.6% 57.19% ),
polygon(73.35% 57.69%, 75.28% 58.87%, 73.6% 57.19% ),
polygon(73.6% 56.33%, 75.92% 57.48%, 73.6% 55.48% ),
polygon(74.64% 60.27%, 75.28% 58.87%, 73.35% 57.69% );






$portfolio: polygon(22.03% 52.81%, 23.15% 51.84%, 21.51% 50.07% ),
polygon(20.72% 50.07%, 20.98% 52.81%, 21.51% 50.07% ),
polygon(19.93% 52.81%, 20.98% 52.81%, 20.72% 50.07% ),
polygon(20.98% 52.81%, 22.03% 52.81%, 21.51% 50.07% ),
polygon(17.53% 43.08%, 17.53% 50.87%, 19.93% 50.07% ),
polygon(22.03% 49.57%, 21.51% 50.07%, 23.15% 51.84% 22.55% 49.07% ),
polygon(17.53% 50.87%, 19.93% 52.81%, 19.93% 50.07% ),
polygon(19.93% 50.07%, 19.93% 52.81%, 20.72% 50.07% ),
polygon(23.09% 47.32%, 25.49% 47.32%, 24.88% 45.54% ),
polygon(17.9% 59.25%, 18.09% 59.35%, 18.73% 59.35% 19.37% 59.35% 17.7% 59.15% ),
polygon(19.93% 47.31%, 19.93% 44.55%, 17.53% 43.08% 19.93% 50.07% ),
polygon(17.62% 58.9%, 17.7% 59.15%, 19.93% 58.65% 17.53% 58.65% ),
polygon(22.82% 48.19%, 22.55% 49.07%, 24.88% 49.09% 23.09% 47.32% ),
polygon(24.88% 49.09%, 25.49% 47.32%, 23.09% 47.32% ),
polygon(24.27% 50.87%, 24.88% 49.09%, 22.55% 49.07% ),
polygon(23.15% 51.84%, 24.27% 50.87%, 22.55% 49.07% ),
polygon(24.27% 43.76%, 23.15% 42.78%, 22.55% 45.57% ),
polygon(24.88% 45.54%, 24.27% 43.76%, 22.82% 46.45% ),
polygon(23.09% 47.32%, 24.88% 45.54%, 22.82% 46.45% ),
polygon(19.37% 59.35%, 19.65% 59%, 19.93% 58.65% 17.7% 59.15% ),
polygon(17.89% 42.25%, 17.71% 42.67%, 17.53% 43.08% 19.93% 44.55% ),
polygon(22.03% 45.06%, 22.55% 45.57%, 23.15% 42.78% 21.51% 44.55% ),
polygon(19.93% 58.65%, 19.93% 55.73%, 17.53% 58.65% ),
polygon(17.53% 58.65%, 19.93% 55.73%, 17.53% 50.87% ),
polygon(19.93% 55.73%, 19.93% 52.81%, 17.53% 50.87% ),
polygon(22.82% 46.45%, 24.27% 43.76%, 22.55% 45.57% ),
polygon(20.28% 41.8%, 18.53% 41.8%, 19.93% 44.55% ),
polygon(18.53% 41.8%, 18.21% 42.03%, 19.93% 44.55% ),
polygon(20.72% 44.55%, 20.28% 41.8%, 19.93% 44.55% ),
polygon(18.21% 42.03%, 17.89% 42.25%, 19.93% 44.55% ),
polygon(21.51% 44.55%, 22.03% 41.8%, 20.72% 44.55% ),
polygon(23.15% 42.78%, 22.03% 41.8%, 21.51% 44.55% ),
polygon(22.03% 41.8%, 20.28% 41.8%, 20.72% 44.55% ),
polygon(30.79% 56.49%, 30.37% 56.76%, 31.52% 58.92% 31.21% 56.23% ),
polygon(30.37% 59.59%, 31.52% 58.92%, 30.37% 56.76% ),
polygon(29.22% 58.92%, 30.37% 59.59%, 30.37% 56.76% ),
polygon(28.06% 58.25%, 29.22% 58.92%, 29.95% 56.49% ),
polygon(29.29% 55.72%, 28.06% 58.25%, 29.52% 56.23% ),
polygon(29.52% 56.23%, 28.06% 58.25%, 29.95% 56.49% ),
polygon(29.95% 56.49%, 29.22% 58.92%, 30.37% 56.76% ),
polygon(31.52% 58.92%, 32.67% 58.25%, 31.21% 56.23% ),
polygon(32.67% 58.25%, 33.34% 56.96%, 31.21% 56.23% ),
polygon(31.69% 50.15%, 34.01% 49.69%, 33.35% 48.39% ),
polygon(31.69% 52.68%, 34.01% 49.69%, 31.69% 50.15% ),
polygon(26.73% 55.67%, 27.4% 56.96%, 28.06% 58.25% 29.29% 55.72% ),
polygon(31.45% 55.72%, 31.21% 56.23%, 33.34% 56.96% 31.69% 55.21% ),
polygon(33.34% 56.96%, 34.01% 55.67%, 31.69% 55.21% ),
polygon(34.01% 52.68%, 34.01% 49.69%, 31.69% 52.68% ),
polygon(31.69% 55.21%, 34.01% 55.67%, 31.69% 52.68% ),
polygon(34.01% 55.67%, 34.01% 52.68%, 31.69% 52.68% ),
polygon(30.79% 48.87%, 31.2% 49.13%, 31.53% 46.43% 30.37% 48.6% ),
polygon(31.53% 46.43%, 30.37% 45.77%, 30.37% 48.6% ),
polygon(31.69% 50.15%, 33.35% 48.39%, 31.45% 49.64% ),
polygon(30.37% 45.77%, 29.22% 46.44%, 30.37% 48.6% ),
polygon(33.35% 48.39%, 32.68% 47.09%, 31.45% 49.64% ),
polygon(29.95% 48.86%, 30.37% 48.6%, 29.22% 46.44% 29.53% 49.12% ),
polygon(32.68% 47.09%, 31.53% 46.43%, 31.2% 49.13% ),
polygon(31.45% 49.64%, 32.68% 47.09%, 31.2% 49.13% ),
polygon(29.05% 55.21%, 26.73% 55.67%, 29.29% 55.72% ),
polygon(29.05% 52.68%, 26.73% 52.68%, 29.05% 55.21% ),
polygon(29.05% 50.15%, 26.73% 49.69%, 29.05% 52.68% ),
polygon(26.73% 49.69%, 26.73% 52.68%, 29.05% 52.68% ),
polygon(26.73% 52.68%, 26.73% 55.67%, 29.05% 55.21% ),
polygon(29.22% 46.44%, 28.06% 47.11%, 29.53% 49.12% ),
polygon(28.06% 47.11%, 27.4% 48.4%, 29.53% 49.12% ),
polygon(27.4% 48.4%, 26.73% 49.69%, 29.05% 50.15% ),
polygon(29.29% 49.63%, 29.53% 49.12%, 27.4% 48.4% 29.05% 50.15% ),
polygon(38.61% 46.46%, 39.45% 48.89%, 39.73% 45.8% ),
polygon(39.73% 45.8%, 39.87% 48.6%, 40.28% 45.91% ),
polygon(39.45% 48.89%, 39.87% 48.6%, 39.73% 45.8% ),
polygon(39.03% 49.17%, 39.45% 48.89%, 38.61% 46.46% ),
polygon(37.48% 47.12%, 39.03% 49.17%, 38.61% 46.46% ),
polygon(40.28% 45.91%, 40.43% 48.68%, 40.83% 46.01% ),
polygon(40.83% 46.01%, 41.09% 48.12%, 41.16% 47.51% 41.23% 46.89% 41.03% 46.45% ),
polygon(39.87% 48.6%, 40.15% 48.64%, 40.43% 48.68% 40.28% 45.91% ),
polygon(38.79% 49.7%, 39.03% 49.17%, 37.48% 47.12% ),
polygon(40.43% 48.68%, 40.76% 48.4%, 41.09% 48.12% 40.83% 46.01% ),
polygon(36.57% 59.25%, 36.75% 59.35%, 38.4% 59.15% 36.38% 59.15% ),
polygon(38.55% 58.65%, 38.55% 54.44%, 36.23% 58.65% ),
polygon(38.4% 59.15%, 38.48% 58.9%, 38.55% 58.65% 36.23% 58.65% ),
polygon(36.23% 58.65%, 38.55% 54.44%, 36.23% 54.2% ),
polygon(36.86% 48.43%, 38.79% 49.7%, 37.48% 47.12% ),
polygon(37.39% 59.35%, 38.03% 59.35%, 38.22% 59.25% 38.4% 59.15% 36.75% 59.35% ),
polygon(36.31% 58.9%, 36.38% 59.15%, 38.4% 59.15% 36.23% 58.65% ),
polygon(38.55% 50.23%, 38.79% 49.7%, 36.86% 48.43% ),
polygon(36.23% 49.75%, 38.55% 50.23%, 36.86% 48.43% ),
polygon(38.55% 54.44%, 38.55% 50.23%, 36.23% 54.2% ),
polygon(36.23% 54.2%, 38.55% 50.23%, 36.23% 49.75% ),
polygon(43.21% 52.48%, 43.21% 56.28%, 45.53% 52.24% ),
polygon(45.53% 55.8%, 43.7% 57.4%, 45.69% 56.11% ),
polygon(45.53% 52.24%, 43.21% 56.28%, 45.53% 55.8% ),
polygon(45.53% 48.68%, 43.21% 52.48%, 45.53% 52.24% ),
polygon(46.39% 48.68%, 46.39% 46.01%, 45.53% 48.68% ),
polygon(46.39% 46.01%, 45.53% 46.01%, 45.53% 48.68% ),
polygon(43.21% 48.68%, 43.21% 52.48%, 45.53% 48.68% ),
polygon(47.33% 56.67%, 47.11% 56.63%, 47.85% 58.41% 47.54% 56.72% ),
polygon(45.53% 46.01%, 43.21% 48.68%, 45.53% 48.68% ),
polygon(43.21% 56.28%, 43.7% 57.4%, 45.53% 55.8% ),
polygon(46.35% 56.76%, 46.74% 59.41%, 46.73% 56.69% ),
polygon(46.73% 56.69%, 46.74% 59.41%, 47.11% 56.63% ),
polygon(46.74% 59.41%, 47.39% 59.24%, 47.11% 56.63% ),
polygon(46.09% 59.59%, 46.74% 59.41%, 46.35% 56.76% ),
polygon(47.39% 59.24%, 47.62% 58.83%, 47.85% 58.41% 47.11% 56.63% ),
polygon(43.7% 57.4%, 44.19% 58.52%, 45.84% 56.43% ),
polygon(45.14% 59.05%, 46.09% 59.59%, 46.35% 56.76% ),
polygon(45.69% 56.11%, 43.7% 57.4%, 45.84% 56.43% ),
polygon(47.25% 46.01%, 46.39% 46.01%, 46.39% 48.68% ),
polygon(44.19% 58.52%, 45.14% 59.05%, 45.84% 56.43% ),
polygon(46.1% 56.59%, 45.84% 56.43%, 45.14% 59.05% 46.35% 56.76% ),
polygon(43.36% 42.89%, 43.29% 43.15%, 43.21% 43.4% 45.38% 42.91% ),
polygon(42.19% 48.68%, 42.7% 48.68%, 42.7% 46.01% ),
polygon(42.19% 46.01%, 42.19% 48.68%, 42.7% 46.01% ),
polygon(44.37% 42.71%, 43.73% 42.71%, 43.55% 42.8% 43.36% 42.89% 45.01% 42.71% ),
polygon(42.01% 46.11%, 41.82% 46.21%, 42.19% 48.68% 42.19% 46.01% ),
polygon(42.7% 46.01%, 42.7% 48.68%, 43.21% 46.01% ),
polygon(42.7% 48.68%, 43.21% 48.68%, 43.21% 46.01% ),
polygon(41.67% 47.35%, 41.67% 47.99%, 41.75% 48.23% 41.82% 48.48% 41.67% 46.71% ),
polygon(47.75% 57.19%, 47.65% 56.95%, 47.54% 56.72% 47.85% 58.41% 47.8% 57.8% ),
polygon(41.75% 46.46%, 41.67% 46.71%, 41.82% 48.48% 41.82% 46.21% ),
polygon(41.82% 48.48%, 42.01% 48.58%, 42.19% 48.68% 41.82% 46.21% ),
polygon(43.21% 44.71%, 43.21% 46.01%, 45.53% 44.71% ),
polygon(45.53% 44.71%, 43.21% 46.01%, 45.53% 46.01% ),
polygon(43.21% 46.01%, 43.21% 48.68%, 45.53% 46.01% ),
polygon(47.43% 48.57%, 47.61% 48.47%, 47.62% 46.21% 47.25% 48.68% ),
polygon(47.62% 46.21%, 47.44% 46.11%, 47.25% 46.01% 47.25% 48.68% ),
polygon(45.2% 42.81%, 45.01% 42.71%, 43.36% 42.89% 45.38% 42.91% ),
polygon(45.46% 43.15%, 45.38% 42.91%, 43.21% 43.4% 45.53% 43.4% ),
polygon(47.25% 48.68%, 47.25% 46.01%, 46.39% 48.68% ),
polygon(43.21% 43.4%, 43.21% 44.71%, 45.53% 43.4% ),
polygon(45.53% 43.4%, 43.21% 44.71%, 45.53% 44.71% ),
polygon(47.69% 48.23%, 47.77% 47.99%, 47.77% 47.35% 47.77% 46.71% 47.7% 46.46% 47.62% 46.21% 47.61% 48.47% ),
polygon(50.23% 45.2%, 50.23% 46.01%, 52.55% 45.43% 50.23% 44.39% ),
polygon(52.55% 45.43%, 52.55% 44.84%, 50.23% 44.39% ),
polygon(50.23% 44.39%, 52.55% 44.84%, 50.81% 43.06% ),
polygon(52.55% 44.84%, 52.74% 44.3%, 50.81% 43.06% ),
polygon(50.81% 43.06%, 52.74% 44.3%, 51.39% 41.73% ),
polygon(49.11% 48.68%, 49.67% 48.68%, 49.67% 46.01% ),
polygon(49.67% 46.01%, 49.67% 48.68%, 50.23% 46.01% ),
polygon(52.74% 44.3%, 52.92% 43.76%, 51.39% 41.73% ),
polygon(52.55% 46.01%, 52.55% 45.43%, 50.23% 46.01% ),
polygon(50.23% 48.68%, 52.55% 46.01%, 50.23% 46.01% ),
polygon(49.67% 48.68%, 50.23% 48.68%, 50.23% 46.01% ),
polygon(54.47% 40.67%, 54.31% 40.55%, 54.15% 43.21% 54.63% 40.79% ),
polygon(49.11% 46.01%, 49.11% 48.68%, 49.67% 46.01% ),
polygon(53.88% 43.21%, 54.15% 43.21%, 54.31% 40.55% ),
polygon(48.91% 48.58%, 49.11% 48.68%, 49.11% 46.01% ),
polygon(54.14% 40.51%, 53.97% 40.48%, 53.88% 43.21% 54.31% 40.55% ),
polygon(54.15% 43.21%, 54.4% 42.89%, 54.65% 42.57% 54.63% 40.79% ),
polygon(52.46% 41.07%, 53.27% 43.49%, 53.53% 40.41% ),
polygon(51.39% 41.73%, 52.92% 43.76%, 52.46% 41.07% ),
polygon(52.92% 43.76%, 53.27% 43.49%, 52.46% 41.07% ),
polygon(53.27% 43.49%, 53.61% 43.21%, 53.53% 40.41% ),
polygon(53.75% 40.45%, 53.53% 40.41%, 53.61% 43.21% 53.97% 40.48% ),
polygon(53.61% 43.21%, 53.88% 43.21%, 53.97% 40.48% ),
polygon(54.63% 40.79%, 54.65% 42.57%, 54.69% 41.92% 54.73% 41.27% 54.68% 41.03% ),
polygon(50.23% 58.65%, 52.55% 53.67%, 50.23% 53.67% ),
polygon(50.23% 53.67%, 52.55% 48.68%, 50.23% 48.68% ),
polygon(52.55% 53.67%, 52.55% 48.68%, 50.23% 53.67% ),
polygon(52.55% 58.65%, 52.55% 53.67%, 50.23% 58.65% ),
polygon(50.31% 58.9%, 52.55% 58.65%, 50.23% 58.65% ),
polygon(48.91% 46.11%, 48.71% 46.21%, 48.91% 48.58% 49.11% 46.01% ),
polygon(48.71% 48.48%, 48.91% 48.58%, 48.71% 46.21% ),
polygon(50.38% 59.15%, 52.55% 58.65%, 50.31% 58.9% ),
polygon(48.63% 46.46%, 48.55% 46.71%, 48.55% 47.35% 48.55% 47.99% 48.71% 46.21% ),
polygon(48.55% 47.99%, 48.63% 48.23%, 48.71% 48.48% 48.71% 46.21% ),
polygon(52.55% 48.68%, 52.55% 46.01%, 50.23% 48.68% ),
polygon(54.5% 46.46%, 54.42% 46.21%, 54.24% 46.11% 54.05% 46.01% 54.57% 46.71% ),
polygon(54.05% 46.01%, 53.3% 46.01%, 54.05% 48.68% ),
polygon(54.5% 48.23%, 54.05% 46.01%, 54.42% 48.48% ),
polygon(54.24% 48.58%, 54.42% 48.48%, 54.05% 46.01% 54.05% 48.68% ),
polygon(54.57% 47.99%, 54.05% 46.01%, 54.5% 48.23% ),
polygon(54.57% 47.35%, 54.57% 46.71%, 54.05% 46.01% 54.57% 47.99% ),
polygon(50.57% 59.25%, 50.75% 59.35%, 52.55% 58.65% 50.38% 59.15% ),
polygon(53.3% 46.01%, 52.55% 46.01%, 53.3% 48.68% ),
polygon(52.22% 59.25%, 52.4% 59.15%, 52.48% 58.9% 52.55% 58.65% 52.03% 59.35% ),
polygon(51.39% 59.35%, 52.03% 59.35%, 52.55% 58.65% 50.75% 59.35% ),
polygon(53.3% 48.68%, 52.55% 46.01%, 52.55% 48.68% ),
polygon(54.05% 48.68%, 53.3% 46.01%, 53.3% 48.68% ),
polygon(66.73% 40.63%, 65.57% 41.32%, 67.37% 40.63% ),
polygon(65.72% 40.83%, 65.64% 41.07%, 65.57% 41.32% 66.73% 40.63% ),
polygon(65.57% 49.99%, 67.89% 41.32%, 65.57% 41.32% ),
polygon(66.09% 40.63%, 65.9% 40.73%, 65.72% 40.83% 66.73% 40.63% ),
polygon(67.89% 49.99%, 67.89% 41.32%, 65.57% 49.99% ),
polygon(67.74% 40.83%, 65.57% 41.32%, 67.89% 41.32% 67.81% 41.07% ),
polygon(67.55% 40.73%, 67.37% 40.63%, 65.57% 41.32% 67.74% 40.83% ),
polygon(67.55% 59.25%, 67.74% 59.15%, 67.81% 58.9% 67.89% 58.65% 67.37% 59.35% ),
polygon(67.89% 58.65%, 67.89% 49.99%, 65.57% 58.65% ),
polygon(65.64% 58.9%, 67.89% 58.65%, 65.57% 58.65% ),
polygon(65.72% 59.15%, 67.89% 58.65%, 65.64% 58.9% ),
polygon(65.57% 58.65%, 67.89% 49.99%, 65.57% 49.99% ),
polygon(66.73% 59.35%, 67.89% 58.65%, 66.09% 59.35% ),
polygon(67.37% 59.35%, 67.89% 58.65%, 66.73% 59.35% ),
polygon(65.9% 59.25%, 66.09% 59.35%, 67.89% 58.65% 65.72% 59.15% ),
polygon(72.81% 58.65%, 72.81% 52.68%, 70.49% 58.65% ),
polygon(70.56% 58.9%, 70.64% 59.15%, 72.81% 58.65% 70.49% 58.65% ),
polygon(71.65% 59.35%, 72.81% 58.65%, 71.01% 59.35% ),
polygon(72.66% 59.15%, 72.73% 58.9%, 72.81% 58.65% 71.65% 59.35% ),
polygon(72.29% 59.35%, 72.47% 59.25%, 72.66% 59.15% 71.65% 59.35% ),
polygon(71.65% 46.01%, 72.81% 46.71%, 72.29% 46.01% ),
polygon(71.19% 43.69%, 71.63% 44.01%, 72.08% 40.76% ),
polygon(71.63% 40.44%, 71.19% 43.69%, 72.08% 40.76% ),
polygon(71.19% 40.77%, 70.76% 43.36%, 71.63% 40.44% ),
polygon(70.49% 58.65%, 72.81% 52.68%, 70.49% 52.68% ),
polygon(72.08% 40.76%, 71.63% 44.01%, 72.53% 41.08% ),
polygon(72.53% 41.08%, 72.79% 42.79%, 73.05% 42.23% 72.79% 41.65% ),
polygon(72.53% 43.36%, 72.79% 42.79%, 72.53% 41.08% ),
polygon(70.5% 42.79%, 70.76% 43.36%, 71.19% 40.77% ),
polygon(71.63% 44.01%, 72.08% 43.69%, 72.53% 41.08% ),
polygon(72.08% 43.69%, 72.53% 43.36%, 72.53% 41.08% ),
polygon(70.76% 43.36%, 71.19% 43.69%, 71.63% 40.44% ),
polygon(70.49% 52.68%, 72.81% 46.71%, 70.49% 46.71% ),
polygon(70.56% 46.46%, 70.49% 46.71%, 72.81% 46.71% 70.64% 46.21% ),
polygon(70.82% 46.11%, 70.64% 46.21%, 72.81% 46.71% 71.01% 46.01% ),
polygon(72.81% 52.68%, 72.81% 46.71%, 70.49% 52.68% ),
polygon(70.76% 41.09%, 70.5% 42.79%, 71.19% 40.77% ),
polygon(70.5% 41.66%, 70.5% 42.79%, 70.76% 41.09% ),
polygon(71.01% 46.01%, 72.81% 46.71%, 71.65% 46.01% ),
polygon(70.25% 42.23%, 70.5% 42.79%, 70.5% 41.66% ),
polygon(72.66% 46.21%, 72.47% 46.11%, 72.29% 46.01% 72.81% 46.71% 72.73% 46.46% ),
polygon(70.82% 59.25%, 71.01% 59.35%, 72.81% 58.65% 70.64% 59.15% ),
polygon(58.44% 46.44%, 57.28% 47.11%, 58.75% 49.12% ),
polygon(58.51% 49.63%, 58.75% 49.12%, 56.62% 48.4% 58.27% 50.15% ),
polygon(57.28% 47.11%, 56.62% 48.4%, 58.75% 49.12% ),
polygon(58.27% 50.15%, 55.95% 49.69%, 58.27% 52.68% ),
polygon(56.62% 48.4%, 55.95% 49.69%, 58.27% 50.15% ),
polygon(55.95% 52.68%, 55.95% 55.67%, 58.27% 55.21% ),
polygon(55.95% 49.69%, 55.95% 52.68%, 58.27% 52.68% ),
polygon(58.27% 52.68%, 55.95% 52.68%, 58.27% 55.21% ),
polygon(60.91% 50.15%, 63.23% 49.69%, 62.57% 48.39% ),
polygon(60.67% 49.64%, 61.9% 47.09%, 60.42% 49.13% ),
polygon(58.27% 55.21%, 55.95% 55.67%, 58.51% 55.72% ),
polygon(60.91% 50.15%, 62.57% 48.39%, 60.67% 49.64% ),
polygon(61.9% 47.09%, 60.75% 46.43%, 60.42% 49.13% ),
polygon(60.75% 46.43%, 59.59% 45.77%, 59.59% 48.6% ),
polygon(60.01% 48.87%, 60.42% 49.13%, 60.75% 46.43% 59.59% 48.6% ),
polygon(59.59% 45.77%, 58.44% 46.44%, 59.59% 48.6% ),
polygon(59.17% 48.86%, 59.59% 48.6%, 58.44% 46.44% 58.75% 49.12% ),
polygon(62.57% 48.39%, 61.9% 47.09%, 60.67% 49.64% ),
polygon(62.56% 56.96%, 63.23% 55.67%, 60.91% 55.21% ),
polygon(60.91% 55.21%, 63.23% 55.67%, 60.91% 52.68% ),
polygon(60.67% 55.72%, 60.43% 56.23%, 62.56% 56.96% 60.91% 55.21% ),
polygon(61.89% 58.25%, 62.56% 56.96%, 60.43% 56.23% ),
polygon(63.23% 52.68%, 63.23% 49.69%, 60.91% 52.68% ),
polygon(63.23% 55.67%, 63.23% 52.68%, 60.91% 52.68% ),
polygon(60.91% 52.68%, 63.23% 49.69%, 60.91% 50.15% ),
polygon(60.74% 58.92%, 61.89% 58.25%, 60.43% 56.23% ),
polygon(59.59% 59.59%, 60.74% 58.92%, 59.59% 56.76% ),
polygon(57.28% 58.25%, 58.44% 58.92%, 59.17% 56.49% ),
polygon(58.74% 56.23%, 57.28% 58.25%, 59.17% 56.49% ),
polygon(58.51% 55.72%, 57.28% 58.25%, 58.74% 56.23% ),
polygon(55.95% 55.67%, 56.62% 56.96%, 57.28% 58.25% 58.51% 55.72% ),
polygon(60.01% 56.49%, 59.59% 56.76%, 60.74% 58.92% 60.43% 56.23% ),
polygon(59.17% 56.49%, 58.44% 58.92%, 59.59% 56.76% ),
polygon(58.44% 58.92%, 59.59% 59.59%, 59.59% 56.76% ),
polygon(80.1% 52.69%, 82.42% 52.69%, 82.42% 49.7% ),
polygon(76.47% 58.26%, 77.62% 58.93%, 78.35% 56.5% ),
polygon(75.14% 52.69%, 75.14% 55.67%, 77.46% 55.22% ),
polygon(77.93% 56.23%, 76.47% 58.26%, 78.35% 56.5% ),
polygon(77.62% 58.93%, 78.78% 59.59%, 78.78% 56.77% ),
polygon(77.69% 55.73%, 76.47% 58.26%, 77.93% 56.23% ),
polygon(77.46% 55.22%, 75.14% 55.67%, 77.69% 55.73% ),
polygon(75.14% 55.67%, 75.8% 56.97%, 76.47% 58.26% 77.69% 55.73% ),
polygon(78.78% 59.59%, 79.93% 58.93%, 78.78% 56.77% ),
polygon(78.35% 56.5%, 77.62% 58.93%, 78.78% 56.77% ),
polygon(81.75% 56.97%, 82.42% 55.67%, 80.1% 55.22% ),
polygon(80.1% 55.22%, 82.42% 55.67%, 80.1% 52.69% ),
polygon(82.42% 55.67%, 82.42% 52.69%, 80.1% 52.69% ),
polygon(79.93% 58.93%, 81.08% 58.26%, 79.62% 56.23% ),
polygon(79.2% 56.5%, 78.78% 56.77%, 79.93% 58.93% 79.62% 56.23% ),
polygon(80.1% 52.69%, 82.42% 49.7%, 80.1% 50.15% ),
polygon(81.08% 58.26%, 81.75% 56.97%, 79.62% 56.23% ),
polygon(79.86% 55.73%, 79.62% 56.23%, 81.75% 56.97% 80.1% 55.22% ),
polygon(81.09% 47.1%, 79.93% 46.44%, 79.61% 49.14% ),
polygon(79.85% 49.65%, 81.09% 47.1%, 79.61% 49.14% ),
polygon(78.78% 45.78%, 77.62% 46.45%, 78.78% 48.61% ),
polygon(79.93% 46.44%, 78.78% 45.78%, 78.78% 48.61% ),
polygon(79.19% 48.87%, 79.61% 49.14%, 79.93% 46.44% 78.78% 48.61% ),
polygon(81.75% 48.4%, 81.09% 47.1%, 79.85% 49.65% ),
polygon(82.42% 49.7%, 81.75% 48.4%, 80.1% 50.15% ),
polygon(80.1% 50.15%, 81.75% 48.4%, 79.85% 49.65% ),
polygon(76.47% 47.11%, 75.8% 48.41%, 77.94% 49.13% ),
polygon(77.46% 50.15%, 75.14% 49.7%, 77.46% 52.69% ),
polygon(75.14% 49.7%, 75.14% 52.69%, 77.46% 52.69% ),
polygon(75.8% 48.41%, 75.14% 49.7%, 77.46% 50.15% ),
polygon(78.36% 48.87%, 78.78% 48.61%, 77.62% 46.45% 77.94% 49.13% ),
polygon(77.7% 49.64%, 77.94% 49.13%, 75.8% 48.41% 77.46% 50.15% ),
polygon(77.62% 46.45%, 76.47% 47.11%, 77.94% 49.13% ),
polygon(77.46% 52.69%, 75.14% 52.69%, 77.46% 55.22% );

@mixin render($obj){
	@for $i from 1 through 20{

		.triangle-#{$i}{
			clip-path: nth($obj, $i);
		}

	}
}

@include render($swarty);
	