@mixin r($screen){
  @media all and (max-width: $screen+'px'){
		@content;
	}
}

// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 5px;
  }
  @if (unitless($context)) {
    $context: $context * 5px;
  }
  @return $pixels / $context * 1rem;
}


@mixin b($screen){
  @media all and (max-height: $screen+'px'){
		@content;
	}
}


@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ){
  @font-face{
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.eot');
		src: url('#{$file-path}.woff2') format('woff2');
		}
}