@include font-face('Geometria-Regular', '../fonts/Geometria-Regular');

@mixin ml{
	font-family: 'Geometria-Regular', 'arial', sans-serif;
}

// tree of media quires
@include r(1499){
	i{
		display: inline-block;
	}
}
@include r(1365){
	i{
		display: inline-block;
	}
}
@include r(1023){
	i{
		display: inline-block;
	}
}
@include r(767){
	i{
		display: inline-block;
	}
}
@include r(479){
	i{
		display: inline-block;
	}
}


html,
body {
	font-size: $mainFontSize;
	@include r(1023){
		font-size: 16px;
	}
}


h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
	color: #1a2731;
	@include ml;
	font-size: rem(5);
}

img{
	max-width: 100%;
	display: block;
	height: auto;
}

img.lazy{
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
}