.main-content {
	position: relative;
  }
  
  .main-slider .banner {
	  height: 100vh;
	  position: relative;
  }
  
  .main-slider .slide_1 {
	  background: url(../images/slide_1.png) no-repeat center;
	  background-size: cover;
  }
  
  .main-slider .slide_2 {
	  background: url(../images/slide_1.png) no-repeat center;
	  background-size: cover;
  }
  
  .main-slider .slide_3 {
	  background: url(../images/slide_1.png) no-repeat center;
	  background-size: cover;
  }
  
  .owl-theme .owl-dots {
	position: absolute;
	bottom: 5%;
	left: 5%;
  }
  
  .owl-theme .owl-dots .owl-dot span {
	width: 50px;
	height: 5px;
	background-color: #ffffff;
  }
  
  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
	  background: #fcaf17;
  }
  
  .owl-theme .owl-nav {
	  margin-top: 0;
	  position: absolute;
	  right: 2%;
	  bottom: 5%;
  }
  
  .owl-theme .owl-nav [class*=owl-]:hover {
	  background: transparent;
  }
  
  .owl-carousel .owl-nav .owl-prev {
	width: 50px;
	height: 50px;
	border: solid 2px #ffffff;
	background: transparent url(../images/path-left.svg) no-repeat center;
	color: transparent;
	margin: 0;
	padding: 0;
	border-radius: 0;
  }
  
  .owl-carousel .owl-nav .owl-prev:hover, 
  .owl-carousel .owl-nav .owl-prev:active {
	background: #ffffff url(../images/path-left-b.svg) no-repeat center;
	color: transparent;
  }
  
  .owl-carousel .owl-nav .owl-next {
	width: 50px;
	height: 50px;
	border: solid 2px #ffffff;
	background: transparent url(../images/path-right.svg) no-repeat center;
	color: transparent;
	margin: 0;
	padding: 0;
	border-radius: 0;
  }
  
  .owl-carousel .owl-nav .owl-next:hover, 
  .owl-carousel .owl-nav .owl-next:active {
	background: #ffffff url(../images/path-right-b.svg) no-repeat center;
	color: transparent;
  }
  
  .slider-text {
	position: absolute;
	top: 15%;
	left: 5%;
  }
  
  .slider-text h2 {
	width: 518px;
	font-family: 'Futura-Bold';
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 80px;
	line-height: normal;
  }
  
  .icon-block {
	display: flex;
	flex-wrap: nowrap;
  }
  
  .icon-text {
	width: 49px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
  }
  
  .icon-box {
	margin-right: 20px;
  }
  
  .icon {
	width: 48px;
	height: 48px;
	margin-bottom: 30px;
  }
  
  .icon img {
	width: 100%;
  }
  
  .arrow-down {
	background: url(../images/arrow_down.svg) no-repeat center;
	display: block;
	width: 18px;
	height: 12px;
	position: absolute;
	bottom: 3%;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	z-index: 2;
  }
  
  section.advantages {
	padding: 40px 65px;
  }
  
  .advantages h2 {
	width: 580px;
	font-family: 'Futura-Bold';
	font-size: 30px;
	font-weight: bold;
	color: #161717;
	line-height: normal;
  }
  
  .image-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .image-box {
	max-width: 290px;
  }
  
  .image-box .img {
	width: 100px;
	height: 100px;
  }
  
  .img img {
	width: 100%;
  }
  
  .img-title p {
	font-family: 'Futura-Bold';
	font-size: 15px;
	font-weight: bold;
	color: #161717;
  }
  
  .img-descr {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.62;
	color: #676767;
  }
  
  .detailed-link img {
	height: 10px;
  }
  
  .image-box .detailed-link {
	display: none;
  }
  
  section.bg-img {
	background: url(../images/bitmap.png) no-repeat center;
	background-size: cover;
	height: 500px;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
  }
  
  .bg-img .bg-img__title {
	width: 421px;
	font-family: 'Futura-Bold';
	font-size: 30px;
	margin-top: 0;
	font-weight: bold;
	color: #ffffff;
	line-height: normal;
  }
  
  .bg-img__text {
	max-width: 380px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 1.8;
	color: #ffffff;
	margin-bottom: 40px;
  }
  
  section.refueling-cards {
	background: url(../images/bitmap_2.png) no-repeat center;
	background-size: cover;
  }
  
  section.loyalty {
	padding: 5% 10% 10%;
  }
  
  .flex-wr {
	display: flex;
	justify-content: center;
  }
  
  .loyalty-img {
	width: 510px;
  }
  
  .loyalty-img img {
	width: 100%;
  }
  
  .loyalty-text {
	padding-left: 160px;
	padding-top: 140px;
  }
  
  .loyalty-text h2 {
	width: 382px;
	font-family: 'Futura-Bold';
	font-size: 30px;
	font-weight: bold;
	color: #161717;
	line-height: normal;
  }
  
  .loyalty-text p {
	width: 382px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 1.85;
	color: #000000;
	margin-bottom: 55px;
  }
  
  .brsm-plus {
	margin-bottom: 20px;
  }
  
  img.mobille-group {
	display: none;
  }
  
  .map-wr {
	position: relative;
  }
  
  .map-wr h2 {
	  margin: 0;
	width: 434px;
	font-family: 'Futura-Bold';
	font-size: 30px;
	font-weight: bold;
	color: #161717;
	line-height: normal;
	position: absolute;
	top: 10%;
	left: 5%;
	z-index: 2;
  }
  
  #map {
	height: 670px;
  }
  
  .gm-style-mtc, .gmnoprint {
	display: none;
  }
  
  
  @media only screen and (max-width: 1750px) {
	.image-box {
		max-width: 205px;
	}
	.img-title p, .img-descr {
	  font-size: 13px;
	}
  }
  
  @media only screen and (max-width: 1440px) {
	.flex-wr {
		display: flex;
		justify-content: flex-end;
	}
	.loyalty-img {
	  width: 419px;
	}
	.loyalty-text {
	  padding-left: 100px;
	  padding-top: 30px;
	}
  }
  
  @media only screen and (max-width: 1366px) {
	.image-box {
		max-width: 160px;
	}
  }
  
  @media only screen and (max-width: 1152px) {
	 section.advantages {
		 padding: 40px 30px;
	 }
	 .image-box {
		 max-width: 140px;
	 }
	 section.loyalty {
		 padding: 10% 5%;
	 }
	 .loyalty-text {
		 padding-left: 45px;
		 padding-top: 0;
	 }
  }
  
  @media only screen and (max-width: 1000px) {
	  .arrow-down {
		margin-left: 0;
	  }
	  .image-box {
		max-width: 128px;
	  }
	  .loyalty-img {
		width: 330px;
	  }
	  .loyalty-text h2 {
		width: 270px;
	  }
	  .loyalty-text p {
		width: 315px;
		margin-bottom: 30px;
	  }
  }
  
  @media only screen and (max-width: 760px) {
	.slider-text h2 {
	  width: 280px;
	  font-size: 24px;
	}
	.owl-theme .owl-dots {
	  display: none;
	}
	.arrow-down {
	  display: none;
	}
	section.advantages {
		padding: 40px 25px;
	}
	.advantages h2 {
		width: 258px;
		font-size: 18px;
	}
	.advantages .detailed-link {
	  display: none;
	}
	.image-box .detailed-link {
	  display: block;
	  margin-top: 15px;
	}
	.image-box {
		width: 100%;
		max-width: 100%;
		display: flex;
		margin-bottom: 40px;
	}
	.image-box:last-child {
	  margin-bottom: 0;
	}
	.image-box .img {
		min-width: 100px;
		padding-right: 25px;
		padding-top: 15px;
	}
	section.bg-img {
	  padding: 15% 5%;
	}
	.bg-img .bg-img__title {
		width: 300px;
		font-size: 18px;
	}
	.loyalty-text h2 {
		width: 270px;
		font-size: 18px;
	}
	.loyalty-text p {
		width: 280px;
		margin-bottom: 20px;
	}
	.map-wr h2 {
	  width: 261px;
	  font-size: 18px;
	}
	.brsm-plus {
	  width: 150px;
	  font-size: 12px;
	}
  }
  
  @media only screen and (max-width: 600px) {
	.loyalty-img {
	  display: none;
	}
	.loyalty-text {
		width: 100%;
	}
	.brsm_320 {
	  display: flex;
	}
	.left_320 {
	  width: 50%;
	}
	img.mobille-group {
	  display: block;
	}
  }