

.map-form{
	&__wrapper{
		position: absolute;
		top: 140px;
		z-index: 2;
		width: 90%;
		left: 50%;
		transform: translate(-50%, 0);
		* {
			box-sizing: border-box;
		}
	}
	&__container{
		width: 100%;
	}
	&__this{
		border: none;
		background-color: #fff;
		padding: 0;
		align-items: stretch;
		border-left: 1px solid #fcaf17;
		border-right: 1px solid #fcaf17;
	}
	&__inputs{
		height: 60px;
	}
	&__col{
		width: 100%;
		position: relative;
		&::after{
			content: "";
			position: absolute;
			display: block;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 44px;
			background-color: #fcaf17;
		}
		&--65{
			max-width: 65%;
		}
		&--15{
			max-width: 15%;
			min-width: 150px;
		}
		&--10{
			max-width: 10%;
			@include r(639){
				max-width: 20%;
			}
		}
		&--selector{
			height: 60px;
			@include r(639){
				display: none;
			}
		}
		&--32{
			max-width: 32.5%;
		}
		&--hide{
			display: none;
		}
		&--show{
			display: block;
		}
	}
	&__search, 
	&__details{
		cursor: pointer;
		border: none;
		background-color:transparent;
		border-top: 1px solid #fcaf17;
		border-bottom: 1px solid #fcaf17;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__inputs{
		&--select{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 16px 10px 16px 5px;
			border-top: 1px solid #fcaf17;
			border-bottom: 1px solid #fcaf17;
			font-size: 14px;
			color: #161717;
			position: relative;
			cursor: pointer;
			p{
				color: inherit;
				font-size: inherit;
				&::after{
					width: 7px;
					height: 7px;
					position: absolute;
					content: "";
					right: 15px;
					top: 47%;
					transform: translateY(-50%) rotate(-45deg);
					border-bottom: 2px solid #161717;
					border-left: 2px solid #161717;
					transition: all .3s;
				}
			}
			@include r(639){
				display: none;
			}
		}
		&--active{
			p{
				&::after{
					top: 50%;
					transform: translateY(-20%) rotate(135deg);
				}
			}
		}
		
		.nice-select,
		input,
		select,
		textarea{
			height: 100%;
			border-top: 1px solid #fcaf17;
			border-bottom: 1px solid #fcaf17;
			border-left: none;
			border-right: none;
		}
		.nice-select{
			.current{
				color: #161717;
			}
			.list{
				border: 1px solid #fcaf17;
			}
			&:hover,
			&:focus,
			.open{
				border-top: 1px solid #fcaf17;
				border-bottom: 1px solid #fcaf17;
			}
			&::after{
				width: 6px;
				height: 6px;
				right: 20px;
				border-color: #161717;
			}
		}
	}
	&__dropdown{
		justify-content: flex-start;
		align-items: flex-start;
		padding: 30px 20px;
		position: absolute;
		top: 60px;
		left: 0;
		background-color: #fff;
		transform: rotateX(90deg);
		border: 1px solid #fcaf17;
		transition: all .3s;
		transform-origin: top left;
		&--show{
			transform: rotateX(0deg);
		}
		@include r(479){
			flex-direction: column;
			max-width: 100%;
		}
	}
	&__block{
		padding-right: 0;
		width: auto;
		flex-wrap: wrap;
		max-width: 50%;
		width: 100%;
		align-items: flex-start;
		&:last-child{
			padding-right: 0;
		}
		> p{
			max-width: 100%;
			width: 100%;
		}
		@include r(479){
			max-width: 100%;
		}
		&-checkbox{
			position: relative;
			padding-left: 30px;
			line-height: 1.5;
			max-width: 50%;
			width: 100%;
			@include r(767){
				max-width: 100%;
			}
			input{
				width: 15px;
				height: 15px;
				position: absolute;
				left: 0;
				top: 2px;
				// transform: translateY(-50%);
				cursor: pointer;
			}
			input:checked{
				&::before{
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					background-color: #fcaf17;
					z-index: 1;
				}
				&::after{
					content: "";
					position: absolute;
					z-index: 2;
					width: 10px;
					height: 5px;
					top: 40%;
					left: 40%;
					transform: translate(-45%, -55%) rotate(-45deg);
					border-bottom: 2px solid #fff;
					border-left: 2px solid #fff;
					background-color: transparent;
				}
			}
			p{
				margin: 0;
			}
		}
		&-descr,
		&-checkbox{
			font-size: 14px;
			margin-bottom: 14px;
			&--full{
				max-width: 100%;
				width: 100%;
			}
		}
		&-descr{
			margin-bottom: 15px;
			color: #a7a7a7;
			font-family: "Open sans", sans-serif;
			margin: 0 0 15px;
		}
		
	}
}