---
title: swarty

descrItem: lalaoalaoalal
array: ['lalal', 'lalal', 'lololo']
object: {
	someVal: 'asasas'
}
---


{% extends "layouts/_layout.html" %}
{% import "mixins/svg.html" as svg %}
{% import "data/data.html" as data1 %}

{% block content %}

	<div id="lal">
		{{ message }}
	</div>

	<h1>{$ descrItem $}</h1>
	<h2>{$ object.someVal $}</h2>

	<ul>
		{% for test in data1.list1 %}
			<li>{$ test.title $}</li>
		{% endfor %}
	</ul>

	<ul>
		{% for item in array %}
			<li>{$ item $}</li>
		{% endfor %}
	</ul>

	<a href="./about.html">about page</a>

	<svg class="icon-search">
		<use xlink:href="img/sprite.svg#search"></use>
	</svg>

	{$ svg.svg('search') $}

	{# {% include "./svg/animals-1782013.svg" %} #}

{% endblock %}
