@font-face{
	src: url("../fonts/OptimaCyr.woff2") format("woff2");
	font-family: 'optima';
}


* {
	background-color: tomato;
	text-decoration: underline;
	font-family: 'optima', sans-serif;
}

.logo{
	background-image: url("../images/javascript.png");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	width: 400px;
	height: 400px;
}