{% import "../data/data.html" as data %}

<div class="full-block popup is-gallery js__gallery-popup">
	<div class="full-block__layer"></div>
	<button class="full-block__close-button js__popup-close">Закрыть</button>
	<div class="full-block__container fw">
		<div class="full-block__gallery">
			<div class="full-block__slider js__popup-gallery-slider">
			</div>
			<div class="full-block__navigation fw">
				<button aria-label="previous slide" class="arrow arrow__prev js__popup-gallery-prev"></button>
				<button aria-label="next slide" class="arrow arrow__next js__popup-gallery-next"></button>
			</div>
		</div>
	</div>
</div>
