include ../mixins/svg.pug
include ../mixins/headline.pug

-
	var contacts = {
		inputs: [
			{
				type: "text",
				name: "name",
				placeholder: "Ваше имя",
				class: "is-half",
				error: "Данные указаны неверно"
			},
			{
				type: "text",
				name: "tel",
				placeholder: "Ваше телефон",
				class: "is-half",
				error: "Данные указаны неверно"
			},
			{
				type: "text",
				name: "email",
				placeholder: "Ваше email",
				class: "",
				error: "Данные указаны неверно"
			},
			{
				type: "textarea",
				name: "message",
				placeholder: "Ваше сообщение",
				class: "",
				error: "Данные указаны неверно"
			},
			{
				type: "checkbox",
				name: "agree",
				placeholder: "Согласны с правилами обработки ваших личных данных",
				class: "is-half is-checkbox",
				error: "Обязательное поле"
			},
		]
	}

doctype html
html(lang='ru' ontouchmove)
	head
		meta(charset='utf-8')
		block title
			title
			meta(name="description" content="Some description")
			meta(name="keywords" content="keywords")
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(http-equiv="Cache-control" content="public")
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name="apple-mobile-web-app-capable" content="yes")
		//- meta
		include ../parts/meta.pug
		//- fonts
		//- styles
		link(rel="stylesheet", href="./css/app.css")
		//- style.
		//- 	[data-aos] {
		//- 		opacity: 0;
		//- 	}
		//- noscript.
		//- 	<style>
		//- 		[data-aos] {
		//- 			opacity: 0;
		//- 		}
		//- 	</style>
	body
		block vars
		.wrapper
			// start header
			include ../parts/header.pug
			// end header
			// start main
			block content
			// end main
			// start footer
			include ../parts/footer.pug
			// end footer
			// start popups
			include ../parts/popups.pug
			// end popups
		script(type="text/javascript" src="./scripts/app.js")