.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-facebook {
	@extend .icon;
	// font-size:(16.879/10)*1rem;
	// width:(10.14/16.879)*1em;
}
.icon-instagram {
	@extend .icon;
	// font-size:(16/10)*1rem;
	// width:(16/16)*1em;
}
.icon-youtube {
	@extend .icon;
	// font-size:(24/10)*1rem;
	// width:(24/24)*1em;
}
