{% macro formNormal(obj, formClass, buttonClass) %}
	<form data-route="/api/send" class="{$ formClass $} form fw">
		{% for item in obj.form %}
			<div class="form__row">
				{# {% if item.pattern %}
					<label class="form__label">
						<input type="{$ item.type $}" name="{$ item.name $}" placeholder="{$ item.placeholder $}" pattern="{$ item.pattern $}" class="form__input">
						<span class="form__error">Проверьте корректность поля</span>
					</label>
				{% else %} #}
					<label class="form__label">
						<input type="{$ item.type $}" name="{$ item.name $}" placeholder="{$ item.placeholder $}" class="form__input">
						<span class="form__error">Проверьте корректность поля</span>
					</label>
				{# {% endif %} #}
			</div>
		{% endfor %}
		<div class="form__row">
			<label class="form__label">
				<textarea class="form__textarea" name="{$ obj.textarea.name $}" placeholder="{$ obj.textarea.placeholder $}" pattern="{$ obj.textarea.pattern $}"></textarea>
				<span class="form__error">Проверьте корректность поля</span>
			</label>
		</div>
		<div class="form__row">
			<button class="site-button {$ buttonClass $}">Отправить</button>
		</div>
	</form>
{% endmacro %}
