{
  "root": true,
  "env": {
    "vue/setup-compiler-macros": true,
		"es2021": true,
    "browser": true,
    "node": true
	},
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
  },
  "extends": [
    "airbnb-base",
		"eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/recommended",
	],
  "plugins": [
    // "vue",
    "import",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {},
      "alias": {
        "map": [
          ["@", "./src"]
        ]
      }
    }
  },
  "rules": {
		"no-new": 0,
		"no-unused-vars": 1,
    "max-len": "off",
    "no-shadow": "off",
    "no-console": [ "warn", {
      "allow": [ "warn", "error", "info"]
    }],
    "linebreak-style": "off",
    "quotes": [ 2, "single"],
    "vue/html-closing-bracket-newline": "off",
    "vue/html-closing-bracket-spacing": "off",
    "vue/no-v-html": "off",
    "vue/singleline-html-element-content-newline": "off",
    "nuxt/no-cjs-in-config": "off",
    "space-before-function-paren": 0,
    "vue/max-attributes-per-line": "off",
    "vue/html-indent": "off",
    "vue/html-self-closing": "off",
    "vue/component-definition-name-casing": ["error", "kebab-case"],
    "vue/multi-word-component-names": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "prefer-destructuring": "off",
    "vue/attributes-order": "off",
    "import/order": "off",
    // "import/no-unresolved": "off", // due to vite imports and extensions error with ts files in vue
    "import/extensions": "off" // to dissable errors for imported ts files
  }
}
