@use './config/typography.scss';
@use './config/vars.scss';

// libs
@import 'reset-css';

@import './config/medias';
@import './config/structure';

body {
  // bla
  background-color: vars.$black;
  display: grid;
  grid-template-columns: repeat(1, auto);
  h1 {
    color: vars.$white;
    @include typography.mt();
  }
}

.some-test-bg {
  width: 400px;
  height: 400px;
  display: block;
  border: 1px solid red;
  background-image: url('@/image/favicon.svg');
  background-repeat: repeat;
  background-size: 200px;
}
