meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
meta(name="keywords" content="keywords")

//- descr meta fb
meta(property='og:image' content='images/jpg')
meta(property="og:type" content="website")
meta(property='og:image:width' content='300')
meta(property='og:image:height' content='300')
meta(property='og:title' content="white")
meta(property='og:url' content= "")
meta(property='og:description' content="")

//- meta twitter
meta(property='twitter:image:src' content='images/jpg')
meta(property='twitter:domain' content='300')
meta(property='twitter:title' content="white")
meta(property='twitter:site' content= "")
meta(property='twitter:description' content="")

//- favicons
link(rel="shortcut icon" type="img/ico" href="images/favicon_16.png" sizes="16x16")
link(rel="shortcut icon" type="img/ico" href="images/favicon_32.png" sizes="32x32")

script(type="application/ld+json").
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"logo": "logo",
		"name": "site/brand name",
		"alternateName": "altername name of name",
		"url": "site link",
		"sameAs": [
			"instagram link",
			"fb link",
			"youtube link"
		],
		"brand": "your brand",
		"department": [
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"location": {
					"@type": "Place",
					"address": {
						"@type": "PostalAddress",
						"addressLocality": "Киев, Украина",
						"streetAddress": "street, office"
					},
					"url": "email",
					"geo": {
						"@type": "GeoCoordinates",
						"latitude": "ltn",
						"longitude": "lng"
					}
				},
				"name": "company name",
				"telephone": [
					"+38 (068) 033-03-38"
				]
			}
		]
	}