extends ./layout/layout.pug

block vars
	-
		var hero = {
			title: '1234',
			name: 'lal'
		}

block title
	title New Proj
	meta(name="description" content="Some description")

block content

	main.main
		// start hero
		article.hero
			h1= hero.title
			+svg('play-button')
			p= hero.name

			picture
				source(srcset="" data-srcset="" media="(max-width: 768px)")
				source(srcset="" data-srcset="/assets/images/rectangle-2.jpg", media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
				img.lazy(src="" data-src="/assets/images/rectangle-2.jpg", alt="")