doctype html
html(lang='ru')
	head
		title your web

		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

		//- descr 
		meta(property='og:image' content='img/jpg')
		meta(property='og:image:type' content='img/jpg')
		meta(property='og:image:width' content='300')
		meta(property='og:image:height' content='300')
		meta(property='og:title' content="")
		meta(property='og:url' content= "")
		meta(property='og:description' content="")

		//- favicons
		link(rel="shoutcut icon" type="img/ico" href="img/favicon32.ico" sizes="32x32")
		link(rel="icon" type="img/ico" href="img/favicon16.ico" sizes="16x12")
		
		//- css styles
		link(rel="stylesheet" href="styles/styles.css")

	body

		//- include ./components/header.pug
		p ready for start


		script(src="scripts/app.js")


		canvas
			.triangle-1
			.triangle-2
			.triangle-3
			.triangle-4
			.triangle-5
			.triangle-6
			.triangle-7
			.triangle-8
			.triangle-9
			.triangle-10
			.triangle-11
			.triangle-12
			.triangle-13
			.triangle-14
			.triangle-15
			.triangle-16
			.triangle-17
			.triangle-18
			.triangle-19
			.triangle-20
			.triangle-21
			.triangle-22
			.triangle-23
			.triangle-24
			.triangle-25
			.triangle-26
			.triangle-27
			.triangle-28
			.triangle-29
			.triangle-30
			.triangle-31
			.triangle-32
			.triangle-33
			.triangle-34
			.triangle-35
			.triangle-36
			.triangle-37
			.triangle-38
			.triangle-39
			.triangle-40
			.triangle-41
			.triangle-42
			.triangle-43
			.triangle-44
			.triangle-45
			.triangle-46
			.triangle-47
			.triangle-48
			.triangle-49
			.triangle-50
			.triangle-51
			.triangle-52
			.triangle-53
			.triangle-54
			.triangle-55
			.triangle-56
			.triangle-57
			.triangle-58
			.triangle-59
			.triangle-60
			.triangle-61
			.triangle-62
			.triangle-63
			.triangle-64
			.triangle-65
			.triangle-66
			.triangle-67
			.triangle-68
			.triangle-69
			.triangle-70
			.triangle-71
			.triangle-72
			.triangle-73
			.triangle-74
			.triangle-75
			.triangle-76
			.triangle-77
			.triangle-78
			.triangle-79
			.triangle-80
			.triangle-81
			.triangle-82
			.triangle-83
			.triangle-84
			.triangle-85
			.triangle-86
			.triangle-87
			.triangle-88
			.triangle-89
			.triangle-90
			.triangle-91
			.triangle-92
			.triangle-93
			.triangle-94
			.triangle-95
			.triangle-96
			.triangle-97
			.triangle-98
			.triangle-99
			.triangle-100
		